{% extends "index.html" %}
{% block content %}
<!-- BEGIN VERTICAL FORM -->
    <div class="col-md-12">
        <form class="create-form" url="{% url 'person:movement_create' %}" method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-head style-primary">
                    <header>Movimento</header>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                {{form.person.errors}}
                                {{form.person}}
                                <label for="{{ form.person.id_for_label}}">{{form.person.label}}</label>
                            </div>
                        </div>

                        <div class="input-group date col-sm-4" id="datepicker2">
                             <div class="input-group-content">
                                {{form.created.errors}}
                                {{form.created}}
                                <label for="{{form.created.id_for_label}}"TRANSACTION_KIND>{{form.created.label}}</label>
                            </div>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{form.transaction_kind.errors}}
                                {{form.transaction_kind}}
                                <label for="{{ form.transaction_kind.id_for_label}}">{{form.transaction_kind.label}}</label>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                {{form.value_moved.errors}}
                                {{form.value_moved}}
                                <label for="{{ form.value_moved.id_for_label}}">{{form.value_moved.label}}</label>
                            </div>
                        </div>


                        <div class="input-group date col-sm-4" id="datepicker1">
                             <div class="input-group-content">
                                {{form.date_return.errors}}
                                {{form.date_return}}
                                <label for="{{form.date_return.id_for_label}}">{{form.date_return.label}}</label>
                            </div>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>



                    <br/>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{form.user.errors}}
                                {{form.user}}
                                <label for="{{ form.user.id_for_label}}">{{form.user.label}}</label>
                            </div>
                        </div>

                    </div>



                    <div class="card-actionbar">
                        <div class="card-actionbar-row">
                            <button type="submit" class="btn btn-flat btn-primary ink-reaction">Concluir</button>
                        </div>
                    </div>
        </form>
    </div><!--end .col -->

<!-- END VERTICAL FORM -->

{% endblock content %}

{% block extrajs %}
    <script>
        $('#multi-select').multiSelect({});
        $('#datepicker1').datepicker({
            format: 'dd/mm/yyyy'
            //,startDate: '-3d'
        });

        $('#datepicker2').datepicker({
            format: 'dd/mm/yyyy'
            //,startDate: '-3d'
        });
        $('#select').select2({});
    </script>
{% endblock extrajs %}