{% extends "index.html" %}
{% block content %}
        <!-- BEGIN SEARCH BAR -->
        <div class="card-body style-primary no-y-padding">
            <form class="form form-inverse">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-content">
                            <input type="text" class="form-control" id="searchInput" name="searchInput" placeholder="Enter your search here">
                            <div class="form-control-line"></div>
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-floating-action btn-default-bright" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><!--end .form-group -->
            </form>
        </div><!--end .card-body -->
        <!-- END SEARCH BAR -->

        <!-- BEGIN RESPONSIVE TABLE 2 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body no-padding">
                        <div class="table-responsive no-margin">
                            <table class="table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th>Saldo</th>
                                        <th>Endereço</th>
                                        <th>Nº</th>
                                        <!--<th>SN</th>-->
                                        <!--<th>N</th>-->
                                        <th>Bairro</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for person in persons %}
                                        <tr>
                                            <!--<td>-->
                                                <!--<a href="{{ person.get_absolute_url }}">{{ person.id|linebreaks }}</a>-->
                                            <!--</td>-->
                                            <td></td>
                                            <td>{{ person.id|linebreaks }}</td>
                                            <td>{{ person.name|linebreaks }}</td>
                                            <td>{{ person.balance|linebreaks }}</td>
                                            <td>{{ person.public_place|linebreaks }}</td>
                                            <td>{{ person.number|linebreaks }}</td>
                                            <td>{{ person.neighborhood|linebreaks }}</td>

                                        </tr>
                                    {% empty %}
                                        <li>
                                            Sem registros
                                        </li>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END RESPONSIVE TABLE 1 -->
{% endblock %}