{% extends "index.html" %}

{% block content %}

    <div class="col-lg-offset-1 col-md-10">
								<form class="create-form" url="{% url 'person:person_create' %}" method="post">
                                    {% csrf_token %}
									<div class="card">
										<div class="card-head style-primary">
											<header>Cadastro de Cliente</header>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
                                                        {{form.name.errors}}
                                                        {{form.name}}
                                                        <label for="{{ form.name.id_for_label}}">{{form.name.label}}</label>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
                                                        {{form.zipcode.errors}}
                                                        {{form.zipcode}}
                                                        <label for="{{ form.zipcode.id_for_label}}">{{form.zipcode.label}}</label>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
                                                        {{form.number.errors}}
                                                        {{form.number}}
                                                        <label for="{{ form.number.id_for_label}}">{{form.number.label}}</label>
													</div>
												</div>
											</div>

                                            <div class="row">
												<div class="col-sm-8">
													<div class="form-group">
                                                        {{form.public_place.errors}}
                                                        {{form.public_place}}
                                                        <label for="{{ form.public_place.id_for_label}}">{{form.public_place.label}}</label>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
                                                        {{form.neighborhood.errors}}
                                                        {{form.neighborhood}}
                                                        <label for="{{ form.neighborhood.id_for_label}}">{{form.neighborhood.label}}</label>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
                                                        {{form.city.errors}}
                                                        {{form.city}}
                                                        <label for="{{ form.city.id_for_label}}">{{form.city.label}}</label>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
                                                        {{form.state.errors}}
                                                        {{form.state}}
                                                        <label for="{{ form.state.id_for_label}}">{{form.state.label}}</label>
													</div>
												</div>
											</div>

										</div><!--end .card-body -->
										<div class="card-actionbar">
											<div class="card-actionbar-row">
												<button type="submit" class="btn btn-flat btn-primary ink-reaction">Concluir</button>
											</div>
										</div>
									</div><!--end .card -->
									<em class="text-caption">Vertical layout with static labels</em>
								</form>
							</div><!--end .col -->


                                <!--<label class="checkbox checkbox-styled">-->

                                    <!--<label for="{{ form.holiday.id_for_label }}" class="col-sm-3">-->
                                        <!--{{ form.holiday }}-->
                                        <!--{{ form.holiday.errors }}-->
                                        <!--<span>{{ form.holiday.label }}</span>-->
                                    <!--</label>-->

                                    <!--<label for="{{ form.overlap.id_for_label }}" class="col-sm-3">-->
                                        <!--{{ form.overlap }}-->
                                        <!--{{ form.overlap.errors }}-->
                                        <!--<span>{{ form.overlap.label }}</span>-->
                                    <!--</label>-->

                                    <!--<label for="{{ form.allday.id_for_label }}" class="col-sm-3">-->
                                        <!--{{ form.allday }}-->
                                        <!--{{ form.allday.errors }}-->
                                        <!--<span>{{ form.allday.label }}</span>-->
                                    <!--</label>-->

                                    <!--<label for="{{ form.editable.id_for_label }}" class="col-sm-3">-->
                                        <!--{{ form.editable }}-->
                                        <!--{{ form.editable.errors }}-->
                                        <!--<span>{{ form.editable.label }}</span>-->
                                    <!--</label>-->

                                    <!--<label for="{{ form.authorized.id_for_label }}" class="col-sm-3">-->
                                        <!--{{ form.authorized }}-->
                                        <!--{{ form.authorized.errors }}-->
                                        <!--<span>{{ form.authorized.label }}</span>-->
                                    <!--</label>-->
                                <!--</label>-->

                                <!--&lt;!&ndash; BEGIN MULTI-SELECT &ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-lg-offset-0 col-md-12">-->
                                            <!--{{form.color}}-->
                                    <!--</div>&lt;!&ndash;end .col &ndash;&gt;-->
                                <!--</div>&lt;!&ndash;end .row &ndash;&gt;-->
                                 <!--&lt;!&ndash; END MULTI-SELECT &ndash;&gt;-->


                                <!--&lt;!&ndash; BEGIN MULTI-SELECT &ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<span>{{form.participants.label}}</span>-->
                                    <!--<div class="col-lg-offset-0 col-md-12">-->
                                            <!--{{form.participants}}-->
                                    <!--</div>&lt;!&ndash;end .col &ndash;&gt;-->
                                <!--</div>&lt;!&ndash;end .row &ndash;&gt;-->
                                 <!--&lt;!&ndash; END MULTI-SELECT &ndash;&gt;-->

                </form>
            </div>
        </div><!--end .col -->
    </div><!--end .row -->
    <!-- END VERTICAL FORM FLOATING LABELS -->

    <script type="text/javascript">
        cep_value = document.getElementById("id_zipcode");
        logradouro = document.getElementById("id_public_place");
        bairro = document.getElementById("id_neighborhood");
        localidade = document.getElementById("id_city");
        uf = document.getElementById("id_state");
        //country = document.getElementById("id_country");
        // logradouro.readOnly = true;
        // bairro.readOnly = true;
        // localidade.readOnly = true;
        // uf.readOnly = true;
       //country.readOnly = true;
        cep_value.addEventListener("keyup",function(event){
            if (this.value.length == 8){
                headers = new Headers();
                headers.append("Access-Control-Allow-Origin","*")
                data = fetch("https://viacep.com.br/ws/"+ this.value +"/json/",headers)
                    .then(function(response){
                        Promise.resolve(response.json()).then(function(value){
                            logradouro.value = value.logradouro;
                            bairro.value = value.bairro;
                            localidade.value = value.localidade;
                            uf.value = value.uf;
                            //country.value = 'Brasil';
                            // Adiciona a classe 'active' aos campos já preenchidos, isto faz com que o
                            // 'label' do campo fique 'alto'
                            document.getElementById("id_neighborhood_container").childNodes[3].className='active';
                            document.getElementById("id_public_place_container").childNodes[3].className='active';
                            document.getElementById("id_city_container").childNodes[3].className='active';
                            document.getElementById("id_state_container").childNodes[3].className='active';
                        });
                    }).catch(function(error){
                        console.log(error);
                    });
            }
        });

    </script>
{% endblock content %}