{% extends "index.html" %}

{% block content %}
    <div class="col-lg-offset-1 col-md-10">
		<div class="card">
			<div class="card-head style-primary">
				<header>Resumo do Cliente</header>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
							<label class="text-bold">Nome:</label>{{person.name}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
							<label class="text-bold">CEP:</label>{{person.zipcode}}
					</div>
					<div class="col-sm-3">
							<label class="text-bold">Número:</label>{{person.number}}
					</div>
					<div class="col-sm-3">
							<label class="text-bold">Saldo:</label>{{person.balance}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-8">
							<label class="text-bold">Logradouro:</label> {{person.public_place}}
					</div>
					<div class="col-sm-4">
							<label class="text-bold">Bairro: </label>{{person.neighborhood}}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
							<label class="text-bold">Cidade:</label> {{person.city}}
					</div>
					<div class="col-sm-6">
							<label class="text-bold">UF:</label>{{person.state}}
					</div>
				</div>
			</div><!--end .card-body -->

    </div><!--end .row -->




        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>Tabela de movimentos</header>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive no-margin">
                            <table class="table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <!--<th>#</th>-->
                                        <th>Tipo</th>
                                        <th>Movimento</th>
                                        <th>Criado em</th>
                                        <th>Modificadoem</th>
                                </thead>
                                <tbody>
                                    {% for movement in movements %}
                                        <tr>
                                            <td>{% if movement.transaction_kind == 'out'%}
                                                    <i class="fa fa-minus-circle"></i>
                                                {% elif movement.transaction_kind == 'in' %}
                                                    <i class="fa fa-plus-circle"></i>
                                                {% endif %}
                                            </td>
                                            <td>{{ movement.value_moved|floatformat:"2" }}</td>
                                            <td>{{ movement.created|date:"d/m/Y" }}</td>
                                            <td>{{ movement.modified|date:"d/m/Y" }}</td>
                                        </tr>
                                    {% empty %}
                                        <li>
                                            Sem registros
                                        </li>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!--end .table-responsive -->
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->
        </div><!--end .row -->
    </div>

{% endblock content %}